<div class="max">
  <hr>

  <div class="credits">

    <div class="group">
      <p>Research</p>
      <div class="entry">Christina Noori • <a href="mailto:cnoori@sfchronicle.com">cnoori@sfchronicle.com</a><br>
      Kristina Shaw-Krivosh • <a href="mailto:KShaw-Krivosh@sfchronicle.com">kshaw-krivosh@sfchronicle.com</a>
      </div>

    </div>
    
    <div class="group">
      <p>Interactive producer</p>
      <div class="entry">Lucio Villa • <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a> • <a href="https://twitter.com/luciovilla" target="_blank">@luciovilla</a>
      </div>
    </div>

  </div>
</div>

<div class="max">
  <hr style="margin-top:0;">
  <div class="dont-miss">
    

    <!-- <div class="story ">
      <div class="padded">
        <a href="http://projects.sfchronicle.com/sf-homeless/division-street/">
          <img src="http://projects.sfchronicle.com/sf-homeless/static/images/division-street/thumb.jpg">
          <h4>No simple path to ending tent cities</h4>
        </a>
      </div>
    </div>

    <div class="story ">
      <div class="padded">
        <a href="http://projects.sfchronicle.com/sf-homeless/benefits">
          <img src="http://projects.sfchronicle.com/sf-homeless/static/images/benefits/thumb.jpg">
          <h4>Federal disability aid an elusive solution</h4>
        </a>
      </div>
    </div>

    <div class="story ">
      <div class="padded">
        <a href="http://projects.sfchronicle.com/sf-homeless/hotels">
          <img src="http://projects.sfchronicle.com/sf-homeless/static/images/hotels/thumb.jpg">
          <h4>Aging hotels, chronic problems</h4>
        </a>
      </div>
    </div> -->
    
    <div class="story ">
      <div class="padded">
        <a href="http://projects.sfchronicle.com/sf-homeless/supportive-housing">
          <img src="http://projects.sfchronicle.com/sf-homeless/static/images/supportive/thumb.jpg">
        <h4>Solution starts with supportive housing</h4>
        </a>
      </div>
    </div>

    <div class="story ">
      <div class="padded">
        <a href="http://projects.sfchronicle.com/sf-homeless/mental-health">
          <img src="http://projects.sfchronicle.com/sf-homeless/static/images/mental/thumb.jpg">
        <h4>The mentally ill: Streets' costliest residents</h4>
        </a>
      </div>
    </div>

    <div class="story ">
      <div class="padded">
        <a href="http://projects.sfchronicle.com/sf-homeless/shelters">
          <img src="http://projects.sfchronicle.com/sf-homeless/static/images/shelters/thumb.jpg">
        <h4>Can the shelter system be successful?</h4>
        </a>
      </div>
    </div>

    <div class="story ">
      <div class="padded">
        <a href="http://projects.sfchronicle.com/sf-homeless/encampments">
          <img src="http://projects.sfchronicle.com/sf-homeless/static/images/camping/thumb.jpg">
        <h4>Can law enforcement curb the crisis?</h4>
        </a>
      </div>
    </div>

    <div class="story ">
      <div class="padded">
        <a href="http://projects.sfchronicle.com/sf-homeless/overview">
          <img src="http://projects.sfchronicle.com/sf-homeless/static/images/setup/01_thumb.jpg">
        <h4>A problem that looked the same 20 years ago</h4>
        </a>
      </div>
    </div>

    <div class="story ">
      <div class="padded">
        <a href="http://projects.sfchronicle.com/sf-homeless/numbers">
          <img src="http://projects.sfchronicle.com/sf-homeless/static/images/data/10_thumb.jpg">
        <h4>How many people live on our streets?</h4>
        </a>
      </div>
    </div>

    <div class="story ">
      <div class="padded">
        <a href="http://projects.sfchronicle.com/sf-homeless/faces-of-the-streets">
          <img src="http://projects.sfchronicle.com/sf-homeless/static/images/portraits/07_thumb.jpg">
        <h4>Portraits of life on SF's streets</h4>
        </a>
      </div>
    </div>

    <div class="story ">
      <div class="padded">
        <a href="http://projects.sfchronicle.com/sf-homeless/letters-from-the-mayors">
          <img src="http://projects.sfchronicle.com/sf-homeless/static/images/insight/thumb.jpg">
        <h4>How SF's last 5 mayors tackled homelessness</h4>
        </a>
      </div>
    </div>

  </div>
</div>

<footer>
  <a class="logo" href="http://www.sfchronicle.com" target="_blank">
    <img src="http://projects.sfchronicle.com/shared/logos/sfc_logo_white.png">
  </a>
</footer>
