<!doctype html>
<html>
  <head>
    <title>Guide: How to help homeless people in the Bay Area</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="ispremium" content="1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="style.css?2">

    <!-- scripts for stand-alone projects, comment for embedded projects -->
    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
        
    <%= t.include("partials/_head.html") %>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>

  </head>

  <body>

    <%= t.include("partials/_nav.html") %>

    <div class="container">
      <div class="headline">
      <div class="hand-logo"><img src="./assets/photos/bg.jpg"></div>
        <p class="brand"><a href="https://projects.sfchronicle.com/sf-homeless/">Beyond Homelessness</a></p>
        <h1>Bay Area's Helping Hands</h1>
        <p class="deck">A directory of nonprofit groups that need donations of specific items or volunteer help. To add your nonprofit to the list, email <a href="mailto:sfhomelessproject@gmail.com?subject=Beyond Homelessness: How to help guide">sfhomelessproject@gmail.com</a>.</p>
      </div>
      <div id="btn-group">
        <button id="btn-volunteer" class="btn disabled widget">VOLUNTEER</button>
        <button id="btn-donate" class="btn widget">DONATE</button>
        
      </div>
      <!-- <hr> -->

      <div id="donate-table" class="table-wrapper">
        <div id="btn-sort">
          <span>Sort by region:</span><br>
          <button class="small-btn" id="SF">SF</button>
          <button class="small-btn" id="EB">East Bay</button>
          <button class="small-btn" id="NB">North Bay</button>
          <button class="small-btn" id="SB">South Bay</button>
          <button class="small-btn disabled" id="all">Show all</button>
        </div>
        <table id="donate" class="display responsive" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="desktop-all">
              <th class="desktop-all">About:  
              <th class="desktop-all">Website: 
              <th class="desktop-all">Email: 
              <th class="desktop-all">Address: 
              <th class="desktop-all">Phone: 
              <th class="desktop-all">Items Needed: 
              <th class="desktop-all"> 

          <tbody>
            <% json.donate.forEach(function(org) { %>
            <tr class="row <%= org.location %>">
              <td><%= org.organization %>
              <td><%= org.description %>
              <td><a href="<%= org.website %>" target="_blank"><%= org.website %></a>
              <td><% if (org.email == 'N/A') { %>N/A<% } else { %><a href="mailto:<%= org.email %>"><%= org.email %></a><% } %>
              <td><%= org.address %>
              <td><% if (org.phone == 'N/A') { %>N/A<% } else { %><a href="tel:<%= org.phone %>"><%= org.phone %></a><% } %>
              <td><%= org.items_needed %>
              <td><%= org.location %>

            <% }); %>
          </tbody>
        </table>
      </div>

      <div id="volunteer-table" class="table-wrapper">
      <div id="btn-sort">
          <span>Sort by region:</span><br>
          <button class="small-btn" id="sf-v">SF</button>
          <button class="small-btn" id="eb-v">East Bay</button>
          <button class="small-btn" id="nb-v">North Bay</button>
          <button class="small-btn" id="sb-v">South Bay</button>
          <button class="small-btn disabled" id="all-v">Show all</button>
        </div>
        <table id="volunteer" class="display responsive" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="desktop-all">
              <th class="desktop-all">About:  
              <th class="desktop-all">Website: 
              <th class="desktop-all">Volunteer: 
              <th class="desktop-all">Address: 
              <th class="desktop-all">Email: 
              <th class="desktop-all">Phone: 
              <th class="desktop-all">
          <tbody>
            <% json.volunteer.forEach(function(org) { %>
            <tr class="row <%= org.location %>">
              <td><%= org.organization %>
              <td><%= org.description %>
              <td><a href="<%= org.website %>" target="_blank"><%= org.website %></a>
              <td><%= org.volunteer %>
              <td><%= org.address %>
              <td><% if (org.email == 'N/A') { %>N/A<% } else { %><a href="mailto:<%= org.email %>"><%= org.email %></a><% } %>
              <td><% if (org.phone == 'N/A') { %>N/A<% } else { %><a href="tel:<%= org.phone %>"><%= org.phone %></a><% } %>
              <td><%= org.location %>
            <% }); %>
          </tbody>
        </table>
      </div>

    </div> <!-- End .container -->

    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>

    <script>
      var table = $('#donate').DataTable({
        columnDefs: [
            {
                "targets": [ 7 ],
                "visible": false
            }
        ],
        ordering:false,
        scrollY: "500px",
        paging:true,
         responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.childRowImmediate,
                type: ''
            }
        }
      });

      var tabletwo = $('#volunteer').DataTable({
        columnDefs: [
            {
                "targets": [ 7 ],
                "visible": false
            }
        ],
        ordering:false,
        scrollY: "500px",
        paging:true,
         responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.childRowImmediate,
                type: ''
            }
        }
      });


      $('#btn-donate').on('click', function () {
        $('#btn-volunteer').removeClass('disabled');
        $('#btn-donate').addClass('disabled');
        $('#donate-table').show();
        $('#volunteer-table').hide();
      });

      $('#btn-volunteer').on('click', function () {
        $('#btn-donate').removeClass('disabled');
        $('#btn-volunteer').addClass('disabled');
        $('#donate-table').hide();
        $('#volunteer-table').show();
      });

      $("#SF").click(function() {
        $.fn.dataTable.ext.search.push(
          function( settings, data, dataIndex ) {
            return (data[7] == 'SF')
              ? true
              : false
          }     
        );
        table.draw();
        $.fn.dataTable.ext.search.pop();
      });

      $("#sf-v").click(function() {
        $.fn.dataTable.ext.search.push(
          function( settings, data, dataIndex ) {
            return (data[7] == 'SF')
              ? true
              : false
          }     
        );
        tabletwo.draw();
        $.fn.dataTable.ext.search.pop();
      });

      $("#EB").click(function() {
        $.fn.dataTable.ext.search.push(
          function( settings, data, dataIndex ) {
            return (data[7] == 'EB')
              ? true
              : false
          }     
        );
        table.draw();
        $.fn.dataTable.ext.search.pop();
      });

      $("#eb-v").click(function() {
        $.fn.dataTable.ext.search.push(
          function( settings, data, dataIndex ) {
            return (data[7] == 'EB')
              ? true
              : false
          }     
        );
        tabletwo.draw();
        $.fn.dataTable.ext.search.pop();
      });

      $("#SB").click(function() {
        $.fn.dataTable.ext.search.push(
          function( settings, data, dataIndex ) {
            return (data[7] == 'SB')
              ? true
              : false
          }     
        );
        table.draw();
        $.fn.dataTable.ext.search.pop();
      });

      $("#sb-v").click(function() {
        $.fn.dataTable.ext.search.push(
          function( settings, data, dataIndex ) {
            return (data[7] == 'SB')
              ? true
              : false
          }     
        );
        tabletwo.draw();
        $.fn.dataTable.ext.search.pop();
      });

      $("#NB").click(function() {
        $.fn.dataTable.ext.search.push(
          function( settings, data, dataIndex ) {
            return (data[7] == 'NB')
              ? true
              : false
          }     
        );
        table.draw();
        $.fn.dataTable.ext.search.pop();
      });

      $("#nb-v").click(function() {
        $.fn.dataTable.ext.search.push(
          function( settings, data, dataIndex ) {
            return (data[7] == 'NB')
              ? true
              : false
          }     
        );
        tabletwo.draw();
        $.fn.dataTable.ext.search.pop();
      });

    $("#all").click(function() {
         table.draw();
    });
    $("#all-v").click(function() {
         tabletwo.draw();
    });

    $('.small-btn').click(function() {
      $(".small-btn.disabled").removeClass("disabled");
      $(this).addClass('disabled');
    });

    $('.btn').click(function() {
       $('html, body').animate({
              scrollTop: $('#btn-volunteer').offset().top - 55
          }, 100);
    });


    </script>


  </body>
</html>
